.slider-container {
  padding: 10px;
  text-align: center;
  position: relative;
}

.slider-title {
  margin-bottom: 20px;
  
}

/* Avatar kartı */
.avatar-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px; 
  height: 250px; 
  margin: 0 5px;
}

/* Avatar görüntüsü */
.avatar-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* İsim stili */
.avatar-name {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

