.slider-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden; 
  padding: 0 50px; 
}

.slider-track {
  display: flex;
  overflow-x: scroll; 
  scroll-behavior: smooth;
  padding: 20px 0;
}

.movie-card {
  min-width: 200px; 
  margin-right: 10px; 
}

/* Slider butonları */
.slider-button {  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
  z-index: 1; 
}

.slider-button.left {
  left: 0px; 
}

.slider-button.right {
  right: 0px; 
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Hover efekti */
}


@media (max-width: 768px) {
  .slider-button {
    display: none; 
  }

  .movie-card {
    min-width: 150px; 
  }
}

@media (max-width: 480px) {
  .movie-card {
    min-width: 120px; 
  }
}
