.slick-dots {
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.slick-dots li {
  width: 100px; /* Çubuğun genişliği */
  height: 4px;  /* Çubuğun yüksekliği */
  background-color: rgba(255, 255, 255, 0.3); /* Arka plana göre saydam */
  margin: 0 5px;
}

.slick-dots li.slick-active {
  background-color: rgba(179, 229, 252, 0.8); /* Aktif olduğunda buz mavisi renk */
}

