.slider-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden; /* İçeriğin taşmasını engelle */
  padding: 0 50px;  /* Sağ ve sol boşluk ekleyerek butonlar için yer aç */
}

.slider-track {
  display: flex;
  overflow-x: scroll; /* Yatay kaydırma sağla */
  scroll-behavior: smooth; /* Kaydırma animasyonu */
  padding: 20px 0;
}

.movie-card {
  min-width: 200px; /* Kart genişliği */
  margin-right: 10px; /* Kartlar arası boşluk */
}

/* Slider butonları */
.slider-button {  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
  z-index: 1; /* Butonların içerikten önde görünmesini sağlar */
}

.slider-button.left {
  left: 0px; /* Sol buton */
}

.slider-button.right {
  right: 0px; /* Sağ buton */
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Hover efekti */
}

/* Responsive: Mobil ekranlarda slider butonlarını gizle */
@media (max-width: 768px) {
  .slider-button {
    display: none; /* Mobilde butonları gizle */
  }

  .movie-card {
    min-width: 150px; /* Kart genişliğini mobilde küçült */
  }
}

@media (max-width: 480px) {
  .movie-card {
    min-width: 120px; /* Daha küçük mobil cihazlarda kart genişliğini daha da küçült */
  }
}
